<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node.js base project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="../public/favicon.ico">

	<link rel="stylesheet" type="text/css" href="../public/styles/app.css">
</head>

<body>
	<h1>BASIC LAYOUT</h1>

	{{{ body }}}
</body>

</html>
